<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Dashboard: Comment</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

    <nav class="navbar navbar-light bg-light " style = "position: fixed; top:0; width:100%;">
        <a class="nav-link ml-auto" href="/accounts/logout">Logout</a>
    </nav>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100" style="display: block; padding-top: 5vh;">
				<div style="padding-bottom: 5vh;">
					<a href="/course-load/dashboard">Back</a>
				</div>
				<div class="text-center">
					<h3>Upload Comment File</h3>
					<form class="m-5" action="/course-load/add-comment/" method="post" enctype='multipart/form-data'>
						{% csrf_token %}
						{% comment %} <div>Currently uploaded: </div>
						<a href="/media/{{ uploaded_file }}">{{ uploaded_file }}</a> {% endcomment %}
						<div class="m-3">
							{{ form.comment_file }}
						</div>
						<input class="btn btn-dark" type="submit" value="Submit">
					</form>
				</div>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'registration/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'registration/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/select2/select2.min.js' %}"></script>

</body>
</html>