<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Admin Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

    <nav class="navbar navbar-light bg-light " style = "position: fixed; top:0; width:100%;">
        <a class="nav-link ml-auto" href="/accounts/logout">Logout</a>
    </nav>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 text-center" style="display: block;">
                <h1>Admin Page</h1> 
                <p class="mt-4">Download course load: </p>
                <p class="mt-2">
                    <a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/course-load/download-course-wise">Course-wise</a>
                    <a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/course-load/download-instructor-wise">Instructor-wise</a>
                </p>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'registration/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'registration/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	{% comment %} <script src="{% static 'registration/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script> {% endcomment %}
<!--===============================================================================================-->
	{% comment %} <script src="{% static 'registration/js/main.js' %}"></script> {% endcomment %}

</body>
</html>