<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Admin Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

    <nav class="navbar navbar-light bg-light " style = "position: fixed; top:0; width:100%;">
        <a class="nav-link ml-auto" href="/accounts/logout">Logout</a>
    </nav>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 text-center" style="display: block;">
				<h1>Admin Page</h1> 
				<div class="row">
					<div class="col-12">
						<h6 class="m-4">Download course load: </h6>
						<p class="mt-2">
							<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/course-load/download-course-wise">Course-wise</a>
							<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/course-load/download-instructor-wise">Instructor-wise</a>
						</p>
					</div>
					<div class="col-6">
						<h6 class="m-4">Download HOD comments: </h6>
						{% for itr in comment_files %}
						<div class="row p-1">
							<div class="col-3">
								{{itr.name}}
							</div>
							<div class="col-9">
								<a href="/media/{{itr.comment_file}}">{{itr.comment_file}}</a>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="col-6">
						<h6 class="m-4">Add: </h6>
						<p class="mt-2">
							<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/add-course">Course</a>
						</p>
						<p class="mt-2">
							<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/add-instructor">Instructor</a>
						</p>
						<h6 class="m-4">Update: </h6>
						<p class="mt-2">
							<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/update-course">Course</a>
						</p>
						<p class="mt-2">
							<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/update-instructor">Instructor</a>
						</p>
						<h6 class="m-4">Delete: </h6>
						<p class="mt-2">
							<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/delete-course">Course</a>
						</p>
						<p class="mt-2">
							<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/delete-instructor">Instructor</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'registration/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'registration/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/select2/select2.min.js' %}"></script>

</body>
</html>