{% extends "admin/base-admin.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h1>Admin Page</h1> 
<div class="row">
	<div class="col-8 text-left">
		<h6 class="mt-4 m-1">Download HOD comments: </h6>
		{% for itr in comment_files %}
		<div class="row p-1">
			<div class="col-3">
				{{itr.name}}
			</div>
			<div class="col-9">
				<a href="/media/{{itr.comment_file}}">{{itr.comment_file}}</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="col-4 text-left">
		<h6 class="mt-4">Add: </h6>
		<p class="mt-2">
			<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/add-course">Course</a>
		</p>
		<p class="mt-2">
			<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/add-instructor">Instructor</a>
		</p>
		<h6 class="mt-4">Update: </h6>
		<p class="mt-2">
			<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/update-course">Course</a>
		</p>
		<p class="mt-2">
			<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/update-instructor">Instructor</a>
		</p>
		<h6 class="mt-4">Delete: </h6>
		<p class="mt-2">
			<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/delete-course">Course</a>
		</p>
		<p class="mt-2">
			<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/delete-instructor">Instructor</a>
		</p>
	</div>
	<div class="col-12">
		<h6 class="m-2">Download course load: </h6>
		<p class="mt-2">
			<a style="width: 20%; min-width: 150px;" class="btn btn-primary" href="/course-load/download-course-wise">Course-wise</a>
			<a style="width: 20%; min-width: 150px;" class="btn btn-primary" href="/course-load/download-instructor-wise">Instructor-wise</a>
			<a style="width: 20%; min-width: 150px;" class="btn btn-primary" href="/course-load/download-erp">ERP</a>
		</p>
	</div>
	<div class="col-12">
		<h6 class="m-2">Initialize database: </h6>
		<p class="mt-2">
			<a style="width: 20%; min-width: 150px;" class="btn btn-dark" href="/course-load/upload-initial-data/">Upload data</a>
		</p>
	</div>
</div>
	
{% endblock %}