{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Admin Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/main.css' %}">
<!--===============================================================================================-->

</head>
<body>

    <nav class="navbar navbar-light bg-light " style = "position: fixed; top:0; width:100%;">
        <a class="nav-link ml-auto" href="/accounts/logout">Logout</a>
    </nav>


	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 text-center" style="display: block; padding: 20px;">

			{% if messages %}
			<div class="container">
				<div class="row">
					<div class="col-md-7" style="margin: 0 auto; padding: 0;">
							<ul class="messages m-0 p-0 text-center">
								{% for message in messages %}
								<li{% if message.tags %} class="m-1 p-1 {{ message.tags }} alert" {% endif %} style="list-style-type:none">
									{{ message }}
								</li>
								{% endfor %}
							</ul>
					</div>
				</div>
			</div>
			{% endif %}

			{% block content %}
			{% endblock %}

			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'registration/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->	

</body>
</html>