<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Update Course</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	{% load crispy_forms_tags %}
	
    <nav class="navbar navbar-light bg-light " style = "position: fixed; top:0; width:100%;">
        <a class="nav-link ml-auto" href="/accounts/logout">Logout</a>
    </nav>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100" style="display: block; padding-top: 5vh;">
				<div style="padding-bottom: 5vh;">
					<a href="/course-load/dashboard">Back</a>
				</div>
				<div class="text-center">
					<h1>Update Course</h1> 
					<div style="margin: auto;">
						<form class="m-5" action="/update-course/" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-6">
									<h5 class="m-2" style="font-weight: bold;">Old Information</h5>
									<div id="div_id_old_code" class="form-group">
										<label for="id_old_code" class=" requiredField">
											Course number
											<span class="asteriskField">*</span>
										</label>
										<div class="">
											<input type="text" name="old_code" maxlength="10" class="textinput textInput form-control" required="" id="id_old_code">
										</div>
									</div>
									<div id="div_id_old_name" class="form-group">
										<label for="id_old_name" class=" requiredField">
											Course title
											<span class="asteriskField">*</span>
										</label>
										<div class="">
											<input readonly type="text" name="old_name" maxlength="10" class="textinput textInput form-control" required="" id="id_old_name">
										</div>
									</div>
									<div id="div_id_old_department" class="form-group">
										<label for="id_old_department" class=" requiredField">
											Department
											<span class="asteriskField">*</span>
										</label>
										<div class="">
											<input readonly type="text" name="old_department" maxlength="10" class="textinput textInput form-control" required="" id="id_old_department">
										</div>
									</div>
									<div id="div_id_old_course_type" class="form-group">
										<label for="id_old_course_type" class=" requiredField">
											Course type
											<span class="asteriskField">*</span>
										</label>
										<div class="">
											<input readonly type="text" name="old_course_type" maxlength="10" class="textinput textInput form-control" required="" id="id_old_course_type">
										</div>
									</div>
								</div>
								<div class="col-6">
									<h5 class="m-2" style="font-weight: bold;">New Information</h5>
									{{form|crispy}}
								</div>
							</div>
							<input class="btn btn-dark" type="submit" value="Submit">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'registration/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'registration/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/select2/select2.min.js' %}"></script>
	<script>
		$("#id_old_code").change(function () {
			var course_code = $(this).val();
			$.ajax({
				url: '/get-course-preview/',
				data: {
					'course_code': course_code
				},
				dataType: 'json',
				success: function (data) {
					console.log(data.course_name);
					$("#id_old_name").val(data.name);
					$("#id_old_department").val(data.department);
					if(data.course_type == 'C'){
						$("#id_old_course_type").val("CDC");
					} else if(data.course_type == 'E'){
						$("#id_old_course_type").val("Elective");
					}
				}
			});
		});
	</script>

</body>
</html>